.plum {
  color: plum
}

.black {
  color: black;
}

#main-content {
  background-image: url('./family.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 490px;
}

#cookiesCalculated {
  background-image: url('./html\ background.jpg')
}